title = "JASMIN Help Site"
copyright = "Copyright © 2024 Science and Technology Facilities Council."
enableGitInfo = true

# additional settings
baseURL = 'https://help.jasmin.ac.uk' # temp value until we have a domain
canonifyURLs = false
enableEmoji = true
enableRobotsTXT = true
enableInlineShortcodes = true
summaryLength = 20

# prevent build failures when using Hugo's Instagram shortcode due to deprecated Instagram API.
# See https://github.com/gohugoio/hugo/issues/7228#issuecomment-714490456
ignoreErrors = ["error-remote-getjson"]

timeout = "180s"

languageCode = "en-gb"
defaultContentLanguage = "en"
defaultContentLanguageInSubdir = false

# Need this to use defaut templates with events that have future dates
# Use 
#   draft = true
# to mark content not yet ready for publishing
# (TODO: could customise event list templates to use an event_date instead)
buildFuture = true 

[outputFormats.REDIR]
mediaType = "text/netlify"
baseName = "_redirects"
isPlainText = true
notAlternative = true

[mediaTypes."text/netlify"]
delimiter = ""

[outputs]
home = ["HTML", "RSS", "REDIR"]

[build]
  writeStats = true
  
[taxonomies]
  tag = 'tags'

[pagination]
  pagerSize = 12

[privacy]
  [privacy.vimeo]
    disabled = false
    simple = true

  [privacy.instagram]
    disabled = false
    simple = true

  [privacy.youtube]
    disabled = false
    privacyEnhanced = true

[services]
  [services.instagram]
    disableInlineCSS = true
  [services.googleAnalytics]
    ID = "G-JJZZ5F2KN4"

[outputFormats]
  [outputFormats.XML]
    isPlainText = false
    mediaType = "application/xml"
    isHtml = false
    noUgly = true
    permalinkable = false
    name = "xml"

[minify] # see https://discourse.gohugo.io/t/minify-config-tutorials/28179/5
  disableHTML = false
  disableJS = true
  disableJSON = false
  disableSVG = false
  disableXML = false
  minifyOutput = true
  [minify.tdewolff]
    [minify.tdewolff.html]
      keepWhitespace = true
    [minify.tdewolff.js]
      keepVarNames = true
      precision = 0
      keepWhitespace = true

[module]
  [module.hugoVersion]
    extended = true
    min = "0.134.0"
    max = ""
  [[module.mounts]]
    source = "archetypes"
    target = "archetypes"
  [[module.mounts]]
    source = "assets"
    target = "assets"
  [[module.mounts]]
    source = "content"
    target = "content"
  [[module.mounts]]
    source = "i18n"
    target = "i18n"
  [[module.mounts]]
    source = "layouts"
    target = "layouts"
  [[module.mounts]]
    source = "static"
    target = "static"
  [[module.mounts]]
    source = "netlify.toml"
    target = "assets/config/netlify.toml"
    
  [[module.imports]]
    path = "github.com/gethinode/hinode"
