{{ define "main"}}
    <div class="d-flex flex-column flex-fill mt-5">
        <div class="container-fluid ">
            <div class="container-xxl flex-fill p-0">
                <div class="container-fluid p-4 px-xxl-0">
                     {{ .Content }}

                    <h2>Future incidents</h2>

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Alert type</th>
                                <th>Summary</th>
                                <th>Services affected</th>
                                <th>Updates</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{ range $i := sort $.Site.Data.status ".date" "desc" }}
                                {{ if gt (time $i.date) now }}
                                    {{ $color := index $.Site.Params.alertTypeClasses $i.alertType }}
                                    {{ partial "incident_row.html" (dict "context" . "alertTypeClasses" $.Site.Params.alertTypeClasses "statusClasses" $.Site.Params.statusClasses) }}
                                {{ end }}
                            {{end}}                         
                        </tbody>
                    </table>

                    <h2>Current incidents</h2>
                    
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Alert type</th>
                                <th>Summary</th>
                                <th>Services affected</th>
                                <th>Updates</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{ range $i := sort $.Site.Data.status ".date" "desc" }}
                                {{ if le (time $i.date) now }}
                                    {{ $color := index $.Site.Params.alertTypeClasses $i.alertType }}
                                    {{ partial "incident_row.html" (dict "context" . "alertTypeClasses" $.Site.Params.alertTypeClasses "statusClasses" $.Site.Params.statusClasses) }}
                                {{ end }}
                            {{end}}                         
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
{{ end }}