{{ define "main"}}
    <div class="container-fluid ">
        <div class="container-xxl flex-fill p-0">
            <div class="container-fluid p-4 px-xxl-0">
                <p class="display-4 mt-3">{{.Title}}</p>
                <p class="lead mb-5">{{.Description}}</p>
                {{ .Content }}

                {{- with $url := .Site.Params.statusData.sourceURL }}
                    {{ $jsonSource := $url }}

                    <!-- TABLE CONSTRUCTION-->
    <table id="table" class="table table-sm table-striped table-responsive">
        <thead>
            <tr> 
                <th>date</th> 
                <th>status</th>
                <th>summary</th> 
                <th>affected services</th> 
                <th>updates</th>               
            </tr>
        </thead>
        <tbody>
            <script> 
                $(document).ready(function () { 

                    var DateTime = luxon.DateTime;
                    var statusClasses = {
                        "down": "danger",
                        "normal": "success",
                        "degraded": "warning",
                        "at risk": "dark"
                    };
                    // Generate random string to ensure no caching of JSON source
                    const generateRandomString = (length=16)=>Math.random().toString(20).substr(2, length)
                    var randomString = generateRandomString();

                    ReverseSortByDate = (b, a) =>  
                        a.date < b.date ? -1 : a.date > b.date ? 1 : 0;

                    // FETCHING DATA FROM JSON FILE

                    $.getJSON("{{ $jsonSource }}?random="+randomString, 
                        function (dataObject) { 
                            var incidents = [];
                            $.each( dataObject, function (key, value) {
                                var incident = {
                                    "date": DateTime.fromISO(value.date),
                                    "status": value.status,
                                    "summary": value.summary,
                                    "affectedServices": value.affectedServices,
                                    "updates": value.updates
                                };
                                $.each(incident.updates, function(ukey, uval) {
                                    var update = {
                                        "date": DateTime.fromISO(uval.date),
                                        "details": uval.details,
                                    };
                                    if (uval.url) {
                                        update.url = uval.url;
                                    }
                                });
                                incidents.push(incident);
                            });

                            var incidentsSorted = incidents.sort(ReverseSortByDate);

                            $.each(incidentsSorted, function(ikey, ival) {
                                var row = "<tr>";
                                row += "<th>" + ival.date.toFormat('yyyy-LL-dd HH:mm') + "</th>";
                                var statusClass = statusClasses[ival.status];
                                row += "<td><span class='badge bg-"+statusClass+"'>" + ival.status + "</span></td>";
                                row += "<td>" + ival.summary + "</td>";
                                row += "<td>" + ival.affectedServices + "</td>";
                                row += "<td>";
                                var sortedUpdates = ival.updates.sort(ReverseSortByDate);
                                scount = 0;
                                $.each(sortedUpdates, function(skey, sval) {
                                    sdate = DateTime.fromISO(sval.date);
                                    row += "<strong>" + sdate.toFormat('yyyy-LL-dd HH:mm') + "</strong>: ";
                                    row += sval.details;
                                    if (sval.url) {
                                        row += ' <a href="' + sval.url + '" class="btn btn-sm btn-primary" role="button" target="_blank">Learn more</a>';
                                    }
                                    if (scount < sortedUpdates.length-1 ) {
                                        row += "<hr>";
                                    }
                                    scount++;
                                });
                                row += "</td>";
                                row += "</tr>"
                                $("#table").append(row);
                            });
                        }
                    );
                }); 
            </script>
        </tbody>
    </table>
                <p><a class="btn btn-primary" href="{{ $url}}">JSON data feed</a> used for this page.</p>
                {{ end }}
                <hr>
                <p>This page was last generated at <code>{{ now | time.Format "2006-01-02 15:04:05" }}</code></p>
            </div>
        </div>
    </div>
{{ end }}