<footer class="container-fluid footer text-center p-3">
    <div class="container-xxl text-center">
        <div class="row">
            <div class="col-md-4 small">
            </div>
            <div class="col-md-2 small">
            </div>
        </div>
        <div class="row">
            <div class="col text-start">
                <h2 class="footer-heading">Useful links</h2>
                <ul class="list-unstyled">
                    <li>
                        {{ $link := partial "utilities/link" (dict "destination" (index site.Params.links "ceda_archive") "text" "CEDA Archive" "class" "link-bg-footer") }}
                        {{ $link | safeHTML }}
                    </li>
                    <li>
                        {{ $link := partial "utilities/link" (dict "destination" (index site.Params.links "ceda_catalogue") "text" "CEDA Catalogue" "class" "link-bg-footer") }}
                        {{ $link | safeHTML }}
                    </li>
                    <li>
                        {{ $link := partial "utilities/link" (dict "destination" (index site.Params.links "jasmin") "text" "JASMIN" "class" "link-bg-footer") }}
                        {{ $link | safeHTML }}
                    </li>
                </ul>
            </div>

            <div class="col text-start">
                <h2 class="footer-heading">Contact us</h2>
                <ul class="list-unstyled">
                    <li>
                        {{ $link := partial "utilities/link" (dict "destination" (index site.Params.links "ceda_helpdocs") "text" "Documentation" "class" "link-bg-footer") }}
                        {{ $link | safeHTML }}
                    </li>
                    <li>
                        {{ $link := partial "utilities/link" (dict "destination" (index site.Params.links "ceda_helpdesk") "text" "Helpdesk" "class" "link-bg-footer") }}
                        {{ $link | safeHTML }}
                    </li>
                </ul>
            </div>

            <div class="text-right col-md-5">
                <a href="{{ site.Params.links.stfc }}">
                    <img src="/img/logos/UKRI_STF_Council-Logo_Horiz-RGB_h80.png" class="img-fluid" style="max-width: 300px;" alt="UKRI/STFC logo" title="UKRI/STFC logo">
                </a>
                <br>
                <a href="{{ site.Params.links.nerc }}">
                    <img src="/img/logos/UKRI_NER_Council-Logo_Horiz-RGB_h80.png" class="img-fluid" style="max-width: 300px;" alt="UKRI/NERC logo" title="UKRI/NERC logo">
                </a>
                <br>
                <a href="{{ site.Params.links.ncas }}">
                    <img src="/img/logos/ncas-logo-light.png" class="img-fluid" style="max-width: 200px;" alt="NCAS logo" title="NCAS logo">
                </a>
                <br>
                <a href="{{ site.Params.links.nceo }}">
                    <img src="/img/logos/nceo-logo-light.svg" class="img-fluid mt-2" style="max-width: 200px;" alt="NCEO logo" title="NCEO logo">
                </a>
            </div>

        </div>
        <small>
            {{- $copyright := printf "%s © %s %s %s." (T "copyright") (dateFormat "2006" now) .Site.Title (T "rights") }}
            {{ cond (gt (len .Site.Copyright) 0) .Site.Copyright $copyright }}
            <br>
            {{ .Site.Params.footer.license | safeHTML }}
        </small>
    </div>
</footer>