{{ define "main"}}
    <div class="d-flex flex-column flex-fill mt-5">
        <div class="container-fluid ">
            <div class="container-xxl flex-fill p-0">
                <div class="container-fluid p-4 px-xxl-0">
                    <p class="display-4 mt-3">{{ .Title }}</p>
                     {{ .Content }}


                    {{ if compare.Eq .Title "Team" }}
                        {{ $headless := .Site.GetPage "/about/people" }}
                        {{ $reusablePages := $headless.Resources.Match "*" }}
                        <h2>People</h2>

                        <div class="row">
                            {{ range $.Site.Data.team }}
                                {{ partial "team-member.html" . }}
                            {{end}}
                        </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
{{ end }}