// Bootstrap variables overrides for theme
$enable-negative-margins:       true;
$enable-important-utilities:    true !default;

// Remove the border from the focused navigation toggler
$navbar-toggler-focus-width:    0 !default;

// scss-docs-start font
$font-family-sans-serif:        $theme-font, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-size-base:                0.95rem; //was $font-size-base;
$headings-font-weight:          600 !default;
$font-weight-lighter:           lighter !default;
$font-weight-light:             200 !default;
$font-weight-normal:            300 !default;
$font-weight-bold:              400 !default;
$font-weight-bolder:            bolder !default;

$ukri_blue:                   #2E2D62 !default;
$body-color:                    $ukri_blue !default;
$link-color:                    $secondary !default;

b, strong {
    font-family:                BoosterNextFY-Bold;
    font-weight:                400 if($enable-important-utilities, !important, null);
    font-style: normal;
}

th {
    font-family: BoosterNextFY-Bold;
    font-weight: normal;
    font-style: normal;
}

.font-weight-bold {
    font-family: BoosterNextFY-Bold;
    font-weight: 700 !important;
}

.font-weight-bolder {
    font-family: BoosterNextFY-Bold;
    font-weight: 900 !important;
}
// scss-docs-end font

$black:                       #000 !default;
$btn-toggle-color:              $black !default;

$carousel-dark-indicator-active-bg:  #fff !default;
$carousel-dark-caption-color:        #fff !default;
$carousel-dark-control-icon-filter:  invert(0) grayscale(100) !default;

// scss-docs-start color-mode
$primary-text-emphasis-dark:        mix(white, $primary, $dark-mode-tint) !default;
$secondary-text-emphasis-dark:      mix(white, $secondary, $dark-mode-tint) !default;
$link-color-dark:                   mix(white, $primary, $dark-mode-tint) !default;
$primary-bg-subtle-dark:            mix(black, $primary, $dark-mode-shade) !default;
$primary-border-subtle-dark:        mix(black, $primary, $dark-mode-shade / 2) !default;
// scss-docs-end color-mode

// scss-docs-start horizontal-nav
$dropdown-transition: opacity .15s ease-in-out !default;
$dropdown-horizontal-margin-top: calc((-1.5 * 1rem) - 2px);
$dropdown-horizontal-padding-y: calc(1rem + 2px);
// scss-docs-end horizontal-nav

// Border radius
$border-radius:          0px !important;

// Smaller size for tag label text on cards
.card-body .tag-label {
    font-size: 0.65rem !important;
}
.card-body .article-li {
    
}

.navbar-brand {
    padding-left: 15px;
}